body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.top {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-weight: bold;
  font-size: 70px;
  color: white;
}

.nav-button {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.supporting-section p {
  font-size: 14px;
}

.middle {
  font-size: 23px;
  font-weight: bold;
  display: block;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
